<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header><H1>A Page About Noah Ko</H1></header>

<header><h2>About Me</h2></header>
<!-- The Hello! is going to be a reference to the /hello page with my name being bolded-->
<p><a href="/hello">Hello!</a> My name is <strong>Noah Ko</strong> and I am a senior accounting and information systems major. I like to play sports, watch sports, and sleep. That's all. <em>Thank you so much for reading!</em> But wait here are some more quick facts about me:</p>
<!-- This is the unordered list that is also the haiku-->
<ul>
    <li>I have dog</li>
    <li>I live near log</li>
    <li>I don't like frog</li>
    <li>My dog ate frog</li>
</ul>

<header><h2>Why I am Cool?</h2></header>
<p>Because there is nobody quite like <strong>Noah Ko</strong>. There are many Noah's in the word but none are like Noah Ko. He is the best and this class is so hard yet he is doing it. To showcase his <em>talent</em>, here is a quick haiku:</p>
<ol>
    <li>I know I am cool</li>
    <li>Yet not too cool to skip school</li>
    <li>I rule you all drool</li>
</ol>

<header><h2>Course Experience</h2></header>
<!-- The code below is the table of courses I have took-->
<table>
    <tr>
        <th>Course</th>
        <th>Semester Took</th>
    </tr>
    <tr>
        <td>BMGT110</td>
        <td>Fall 2023</td>
    </tr>
    <tr>
        <td>BMGT380</td>
        <td>Fall 2025</td>
    </tr>
    <tr>
        <td>BMGT350</td>
        <td>Spring 2025</td>
    </tr>
</table>

<!-- The code below is linking the websites that I like visiting-->
<header><h2>Sites I Visit a Lot</h2></header>
<p><a href="https://sleeper.com/" target="_blank" rel="noopener noreferrer">Sleeper (for fantasy football)</a></p>
<p><a href="https://www.instagram.com/">Instagram (a social media site)</a></p>
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267" height="72" alt="Smith Logo">

</body>
</html>